input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    visibility: hidden;
}

.styled-input {
    float: left;
    width: 290px;
    margin: 1rem 0;
    position: relative;
    border-radius: 20px;
    right: 35px;
}

.styled-input label {
    color: antiquewhite;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 10px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
}

input,
textarea {
    padding: 30px;
    border: 0;
    font-size: 30px;
    background-color: firebrick;
    color: antiquewhite;
    border-radius: 4px;
    width: 100%;
    font-family: "bebas";
}

input:focus,
textarea:focus { outline: 0; }

.input-container {
    width: 650px;
    margin: 20px auto 25px auto;
}

.submit-btn {
    font-family: "bebas";
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: firebrick;
    color: antiquewhite;
    font-size: 30px;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.submit-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}